[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1"
flask-restful = ">=0.3"
marshmallow = ">=3.2"
sqlalchemy = ">=1.3"
alembic = ">=1.2"
psycopg2-binary = ">=2.8"
httpx = "*"
pyjwt = "*"
flask-bcrypt = "*"
geoalchemy2 = "*"
pydash = "*"

[dev-packages]
"flake8" = ">=3.7"
coverage = ">=4.5"
autopep8 = "*"

[requires]
python_version = "3.10"
